* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    min-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
}


/*===inicio encabezado===*/

.container .header-barr {
    height: 23px;
    margin: 1px 1px 0px 1px;
    border-bottom: solid 1px #110038;
    background-image: linear-gradient(225deg, #F7C9F3, #4180F6);
    font-family: "Chakra Petch";
    font-size: 12px;
    letter-spacing: 0;
    color: floralwhite;
}

.content-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.container header {
    width: 1200px;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.container header .logo {
    width: 102.6px;
    height: 64px;
}

.container header .logo img {
    width: 100%;
}

.container .buttons-text {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container .buttons-text .menu-ch-gif {
    display: flex;
    flex-direction: column;
}

.container .text {
    font-family: "Chakra Petch";
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 18px;
    margin-left: 16px;
}

.guion-bajo {
    text-decoration: underline;
    margin-right: -4px;
}

#cr-gif {
    width: 144px;
    height: 36px;
    margin-right: 16px;
    background-color: #F7C9F3;
    font-family: "Chakra Petch";
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #110038;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
}

#ch-gif {
    width: 131px;
    height: 36px;
    font-family: "Chakra Petch";
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #110038;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
}

#button-dopdown {
    width: 36px;
    height: 36px;
    margin-left: -4px;
    font-family: "Chakra Petch";
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #110038;
    background-color: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
}

#contenedor-menu {
    visibility: hidden;
}

ul.menu {
    width: 167px;
    height: 102px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

li {
    list-style: none;
}

#sailor-day {
    width: 150px;
    height: 36px;
    font-family: 'Chakra Petch';
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #110038;
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
}

#sailor-night {
    width: 150px;
    height: 36px;
    font-family: 'Chakra Petch';
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #110038;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
}


/*===fin encabezado===*/


/*===inicio sección buscar==*/

section .buscar {
    width: 1200px;
    padding: 30px 0px 40px 0px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.bar-buscar {
    width: 1194px;
    height: 24px;
    padding-left: 6px;
    display: flex;
    align-items: center;
    box-shadow: inset -2px 0px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    background-image: linear-gradient(225deg, #F7C9F3, #4180F6);
    font-family: "Chakra Petch";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    color: floralwhite;
}

.bar-buscar span {
    margin: 6px 0px 0px 6px;
}

.buscar-form form {
    width: 1200px;
    height: 75px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 0px 0 0 #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#text-buscar {
    width: 1057px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.letra-text {
    font-family: "Chakra Petch";
    font-size: 16px;
    color: #B4B4B4;
    letter-spacing: 0;
    line-height: 22px;
    padding-left: 16px;
}

#btn-search {
    width: 102px;
    height: 36px;
    font-family: "Chakra Petch";
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #B4B4B4;
    background: #E6E6E6;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
}

#btn-search:active {
    width: 102px;
    height: 36px;
    background: #E6BBE2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 18px;
}

#btn-search:hover {
    width: 102px;
    height: 36px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 18px;
}

.resultado-sugerido {
    position: absolute;
    width: 1200px;
    /*margin-top: -140px;
    z-index: -3;*/
    display: flex;
    flex-wrap: wrap;
    padding-top: 17px;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    visibility: hidden;
}

.sugerencia {
    width: 89%;
    height: 36px;
    margin-left: 15px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    background: #f0f0f0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.sugerencia-text {
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    align-items: center;
    padding-left: 7px;
}

.results-list {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: -80px;
    z-index: -1;
}

.result-list1,
.result-list2,
.result-list3,
.result-list4,
.result-list5,
.result-list6,
.result-list7,
.result-list8 {
    width: 140px;
    height: 34px;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    font-family: 'Chakra Petch';
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
}


/*===fin sección buscar==*/


/*===inicio articulo-sugerencias===*/

.sugerimos {
    width: 1193px;
    height: 32px;
    margin: 65px 0px 16px 0px;
    display: flex;
    align-items: center;
    padding-left: 7px;
    font-family: 'Chakra Petch';
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

.sug-option {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.option-content {
    width: 288px;
    height: 313px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.option-barr {
    width: 280px;
    height: 24px;
    box-shadow: inset -2px 0px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    background-image: linear-gradient(225deg, #F7C9F3, #4180F6);
    font-family: "Chakra Petch";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    color: floralwhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-option-barr {
    margin-left: 7px;
}

.btn-cierre {
    color: black;
    width: 16px;
    height: 14px;
    background: gray;
    margin-right: 7px;
}

.video-btn-content {
    width: 280px;
    height: 280px;
    background: violet;
}

.gif {
    width: 100%;
    height: 100%;
}

.btn-opt {
    position: absolute;
    transform: translateX(-265px) translateY(235px);
    width: 81px;
    height: 34px;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    font-family: 'Chakra Petch';
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
}


/*===fin artìculo sugerencias===*/


/*===inicio sección tendencias===*/

.tendencias {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.tendencias-titulo {
    height: 32px;
    margin: 65px 0px 16px 0px;
    display: flex;
    align-items: center;
    padding-left: 7px;
    font-family: 'Chakra Petch';
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

.tend-ver-gifo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ver-gifo-text-standar {
    width: 286px;
    height: 24px;
    box-shadow: inset -2px 0px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    background-image: linear-gradient(225deg, #F7C9F3, #4180F6);
    font-family: "Chakra Petch";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    color: floralwhite;
}

.ver-gifo-text {
    width: 588px;
    height: 24px;
    box-shadow: inset -2px 0px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    background-image: linear-gradient(225deg, #F7C9F3, #4180F6);
    font-family: "Chakra Petch";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    color: floralwhite;
}

.ver-gifo-standar {
    width: 294px;
    height: 304px;
    margin-bottom: 8px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ver-gifo {
    width: 596px;
    height: 298px;
    margin-bottom: 16px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#ver-gifo1,
#ver-gifo2,
#ver-gifo3,
#ver-gifo4,
#ver-gifo6,
#ver-gifo7,
#ver-gifo8,
#ver-gifo9,
#ver-gifo13,
#ver-gifo14 {
    width: 286px;
    height: 296px;
    background-color: violet;
}

#ver-gifo5,
#ver-gifo10,
#ver-gifo11,
#ver-gifo12 {
    width: 588px;
    height: 290px;
    background-color: violet;
}


/*===fin sección tendencias===*/